.modal-footer {   
	border-top: 0px; 
	
}
.modal-header{
	text-align: center;
}
*{
	background-color: #F7D358;
}
#titulo{
	text-align: center;
}
.form-group,.page-header{
	text-align: justify;
	
}
h2{
	text-align: center;
}
.btn-primary{
	
}
section{
	width: 250px;
	height: 250px;
	position: relative;;
	margin: auto;
}

body{
	position: center;
}

div{
	position: center;

}
